html, body
{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body
{
    background-color:antiquewhite;
    display: grid;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.container
{
    max-width: 1024px;
    margin: 0 auto;
}

h1
{
    color: brown;
}

h2
{
    color: teal;
}

h1, h2
{
    text-align: center;
    padding: 20px;
}

.agrupado
{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    padding: 10px;
    border: 2px solid brown;
}

.tres
{
    grid-template-columns: repeat(3, 1fr);
}

.endereco-numero
{
    grid-template-columns: 1fr 120px;
}

label
{
    margin-bottom: 10px;
}

input
{
    padding: 3px;
}

input[id="nome"],
input[id="sobrenome"],
input[id="endereco"]
{
    width: 95%;
}

input[id="numero"]
{
    width: 40px;
}

input[type="submit"]
{
    background-color: brown;
    border: 0px solid transparent;
    color: white;
    margin-top: 20px;
    padding: 10px;
    width: 120px;
}

input[type="submit"]:hover
{
    background-color: teal
}

